body {
    background-color:  black;
}

#instrument{
    width: 80%;
    margin: auto;
    position: absolute;
    top:0;left:0;right:0;bottom:0;
    background-color: rgba(220, 220, 220, 0.3);
    height: 100px;
}

.key{
    width: 14%;
    margin: 0.14%;
    height: 100%;
    float: left;
}